<app-tour *ngIf="loggedinUser && !showTour && !disableHeightOnTop && tenantConfigSvc.isFeatureEnabled('tour')"></app-tour>
<app-no-connection></app-no-connection>
<mat-progress-bar mode="indeterminate" color="warn" class="route-change" *ngIf="routeChangeInProgress">
</mat-progress-bar>

<!-- Layout Loader: switches between default and tenant layouts -->
<app-tenant-layout-loader></app-tenant-layout-loader>

<ng-container #previewContainer></ng-container>
<input #appUpdateTitle type="hidden" i18n-value value="App Update" />
<input #appUpdateBody type="hidden" i18n-value value="App has been updated. Do you want to load new version?" />
<div #skipper tabindex="-1"></div>
